<nav>
       <div id="navbar">
           <div id="logo">
               <div class="logo"><a href="index.html">Xenia S<span class="mychangecolor">.</span></a></div>
           </div>
           <div id="links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/work">Work</a>
            <a href="/contact">Contact</a>
           </div>

           <div class="mobile-btn">
               <a id="menu-btn" onclick="myFunction()" class="fa fa-bars fa-2x">☰</a>
           </div>

       </div>

       <div id="mobile-menu" class="mobile-menu">
    <ul class="mobile-links">
      <li class="nav-list"><a href="/">Home</a></li>
      <li class="nav-list"><a href="/about">About</a></li>
      <li class="nav-list"><a href="work.html">Work</a></li>
      <li class="nav-list"><a href="contact.html">Contact</a></li>
    </ul>
  </div>
   </nav>